.sidebar-nav-title
    padding-left: 24px
<<<<<<< c80df11e9ee0e45c4a380109a01502c8b422cd40
    filter: invert(1)

.sidebar-nav-icon
    filter: invert(1)
=======
>>>>>>> Move inline style to Sass partials
