.song-list-item-song-title
  margin-bottom: 0

.song-list-item-div
  h1
    margin-bottom: 0

.song-list-item
  background-color: $card
  height: 200px
  padding: 0

  jj-song-list-item
    padding: 0

    button
      border-radius: 0
      color: $white
      margin: 0
      width: 100%
