<div layout="column" class="queue-empty" flex="90" layout-align="center center" layout-padding ng-show="queueEmpty">
    <h1 id="nothingInQueueMessage">Please add something to the Queue</h1>
</div>

<md-list layout="row" layout-align="start start" layout-wrap flex>

    <div flex-xs="100" flex-sm="50" flex-md="50" flex-gt-md="33" ng-repeat="item in results">

        <md-list-item style="padding:0px; margin:10px;" class="song-list-item" md-whiteframe="8" class="md-2-line">
            <jj-song-list-item flex song="item"></jj-song-list-item>
        </md-list-item>

    </div>

</md-list>