<md-sidenav md-swipe-left="onSwipeLeft()"  layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"  flex>

    <div layout="column" style="background-color:black;min-height:305px; max-height:360px;">
        <jj-now-playing></jj-now-playing>
    </div>

    <md-divider></md-divider>
    
    <md-list>

        <md-item ng-if="showPlayButton$">
            <div class="md-list-item-text">
                <md-button ng-click="playSong()"><md-icon class="sidebar-nav-icon" md-svg-src="../svg/ic_play_arrow_white_24px.svg" aria-label="Play"></md-icon>  Play</md-button>
            </div>
        </md-item>

        <md-item ng-if="showPauseButton$">
            <div class="md-list-item-text">
                <md-button ng-click="pauseSong()"><md-icon class="sidebar-nav-icon" md-svg-src="" aria-label="Pause"></md-icon>  Pause</md-button>
            </div>
        </md-item>

        <md-item ng-if="showSkipButton$">
            <div class="md-list-item-text">
                <md-button ng-click="skipSong()"><md-icon class="sidebar-nav-icon" md-svg-src="" aria-label="Skip"></md-icon>  Skip</md-button>
            </div>
        </md-item>

        <md-item>
            <div class="md-list-item-text">
                <md-button ng-click="queue()"><md-icon class="sidebar-nav-icon" md-svg-src="../svg/ic_queue_music_white_24px.svg" aria-label="Queue "></md-icon>  Queue</md-button>
            </div>
        </md-item>

        <md-item>
            <div class="md-list-item-text" >
                <md-button ng-click="launchAbout()"><md-icon class="sidebar-nav-icon" md-svg-src="../svg/ic_help_outline_white_24px.svg" aria-label="About "></md-icon>  About</md-button>
            </div>
        </md-item>

        <md-item>
            <div class="md-list-item-text" >
                <md-button ng-click="viewProfileSettings()"><md-icon class="sidebar-nav-icon" md-svg-src="../svg/ic_account_circle_white_24px.svg" aria-label="Profile"></md-icon>  Profile</md-button>
            </div>
        </md-item>

        <md-divider></md-divider>
    </md-list>
    <jj-greeting-message></jj-greeting-message>

</md-sidenav>
